<html>
<body>


<form method="post" action="/add">

<input type="text" name="name" placeholder="name"><br>
<input type="number" name="age" placeholder="age"><br>
<input type="text" name="city" placeholder="city"><br>
<input type="submit" name="submit">










</form>










</body>














</html>