<html>

<body>

<a href="/add">add</a>


<table border="1 " cellspacing="10" cellpadding="10">

<tr>

<th>Name</th>
<th>Age</th>
<th>City</th>
</tr>

{{#each person as |persons|}}

<tr>

<td>{{persons.name}}</td>
<td>{{persons.age}}</td>
<td>{{persons.city}}</td>


</tr>
{{/each}}


</table>

</body>

</html>